@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
  --primary-color: rgba(243, 227, 85, 0.925);;
}


body{
  background: black;
  margin: 0;
  font-family: 'Poppins';
}


/* images */


/* navbar */

.navbar
{
  background: rgb(46, 45, 45);
  padding: 10px;
}

.navbar .logo
{
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 50px;
  margin-left: 10px;
  
  padding: 10px 10px;
}

.navbar .logo span{
  color: var(--primary-color);
}



.navbar .container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar nav{
  display: flex;
}


.navbar nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

}

.navbar nav ul.nav-list
{
  margin-left: 15px;
  padding-left: 30px;
  display: flex;
  place-content: space-between;

  
}

nav li a
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    place-content: space-between;
    text-align: right;
    margin-right: 20px;
    display: block;

    
}


.navbar nav li.home a {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;


}

.navbar nav li.your-playlist a {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;


}

.navbar nav li.your-playlist a:hover
{
  background: var(--primary-color);
  color: white;
}

/* Home page */


.home-container
{
 
  display: block;
  padding: 10px 10px;


}

.home-container h1{
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;

 
}

.home-container h2
{
  color: rgb(255, 254, 168);
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  

}

/* Music-container */

.music-container {
  background-color: #fff;
 
  box-shadow: 0 20px 20px 0 var(--primary-color);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin-top: 270px;
  z-index: 10;
  bottom: 0;
  align-items: center;
  justify-content: center;
  border-radius: 80px 80px 80px 80px;
 
  
}

.music-container i
{
  cursor: pointer;
}

.icon
{
  display: flex;
  
}



.icon span
{
  color: yellow;
}

.img-container {
  position: relative;
  width: 110px;
  right:  50px;
  padding: 40px 10px;

}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
 
  
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: -12px;
   left: 80px;
  
  align-items: center;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}
.music-container.play .img-container img {
  animation-play-state: running;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

 .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 50px;
  
}

/* buttons */

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.action-btn-repeat
{
  background-color: #fff;
  border: 0;
  color: #252425;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  display: inline-block;

}
.action-btn-more
{
  background-color: #fff;
  border: 0;
  color: #252425;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  
}
.down-btn
{
  background-color: #fff;
  border: 0;
  color: #252425;
  font-size: 20px;
  cursor: pointer;
  padding: 30px;
  margin: 0 20px;
  right : 80px;
  align-self: left;
}





.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
  border: 50px 50px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  width: 20%;
  height: 50px;
  
  
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
  
}
.progress .song-timer 
{
  margin-top: 2px;
 margin-bottom: 20px ;
  display: flex;
 
  

}



.progress h4
{
 padding: 10px 10px ;
 margin-left: -10px;
 font-size: 10px;
 
}

